* {
  background-color: lightgrey;
}

.top {
  display: flex;
  padding: 5px;
  background-color: gray; 
  border-bottom: solid;
}

.logo {
  background-color: gray;
  color: greenyellow;
  padding-right: 10px;
}

.search {
  background-color: rgb(211, 211, 211);
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}


.teksti {
  display: flex;
  margin-left: 20px;
}

.tuotteet {
  display: flex;  
  flex-flow: row wrap;
  padding: 10px;
}

.tuotteet > div {
  background-color: whitesmoke;
  border-style: solid;
  border-color: gray;
  height: 300px;
  width: 300px;
}